body{
    background-color: rgb(grey);
    font-size: 25px;
    margin: 50px 0 px 100px 20px;
}
img {
    height: 300px;
    width: 300px;
}
p,ul,ol{
    width: 600px;
}
h1,h2,h3,h4,.section{
    display: flex;
    justify-content: center;
    align-items:center;
}
